.cdmHeader img, .cdmHeader input, .cdmFooter img {
    vertical-align : middle;
}

.cdmHeader {
    display : table;
}

.cdmHeader > * {
    display : table-cell;
    padding : 5px;
}

.cdmHeader > div {
    white-space : nowrap;
}

.cdmHeader > span {
    width: 100%;
}

.cdmHeader span.updated {
    color : #555;
    font-weight : normal;
    font-size: 11px;
    white-space : nowrap;
    vertical-align : middle;
}

.cdmHeader input {
    margin-right : 5px;
}

.cdmHeader .updPic {
    width: 25px;
    display : inline-block;
    text-align : center;
}

.cdmHeader .updPic img {
    vertical-align : middle;
}

.cdmHeader img, .cdmFooter img {
    margin : 0px 4px;
}

.cdmHeader input {
    margin-left : 4px;
    margin-right : 4px;
}

.cdmContentInner {
    margin : 10px;
    line-height : 20px;
}

.cdmContentInner img {
    border-width: 0px;
    max-width: 98%;
    height : auto;
}

.cdmFooter {
    padding : 5px;
    font-weight : normal;
    color : #555;
    clear : both;
}

.cdm.expanded {
    margin-top : 4px;
    margin-bottom : 4px;
}

.cdm.expandable {
    background-color : #f0f0f0;
    border-width: 0px 0px 1px 0px;
    border-color : #c0c0c0;
    border-style : solid;
}

.cdm.expandable > hr {
    display: none;
}

.cdm.expanded > hr {
    margin-top : 0px;
    margin-bottom : 0px;
}

.cdm.expandable.Unread {
    background : white;
}

.cdm.expandable.Selected {
    background : #f9fbff;
}

.cdm.expandable.active {
    box-shadow : inset 0px 0px 3px 0px rgba(0,0,0,0.1);
    border-color : #88b0f0;
    background : white ! important;
}

.cdm.expandable .cdmHeader span.titleWrap {
    white-space : nowrap;
    text-overflow : ellipsis;
    overflow : hidden;
    max-width: 500px;
}

.cdm.expandable .cdmHeader a.title {
    font-weight : bold;
    color : #555;
}

.cdm.expandable.Unread .cdmHeader a.title {
    color : black;
}

.cdm.expandable.active .cdmHeader a.title {
    color : #4684ff;
}

.cdm.expanded .cdmHeader {
    background : transparent ! important;
}

.cdm.expanded .cdmHeader a.title {
    font-size: 14px;
    color : #999;
    font-weight : bold;
}

.cdm.expanded.active {
    background : white;
}

.cdm.expanded.active .cdmHeader a.title {
    color : #4684ff;
}

.cdm.expanded.Unread .cdmHeader a.title {
    color : black;
}

.cdm.expanded .cdmContent {
    color : #555;
}

.cdm.expanded.Unread .cdmContent {
    color : black;
}

.cdm.active .cdmContent {
    color : black;
}

span.cdmExcerpt {
    font-size: 11px;
    color : #555;
    font-weight : normal;
    cursor : pointer;
}

.cdmContent .postEnclosures {
    margin-top : 1em;
    color : #555;
}

.cdmFeedTitle {
    border-color : #a0a0a0;
    border-width: 0px 0px 1px 0px;
    border-style : solid;
    padding : 5px 3px 5px 5px;
    background : url("images/toolbar.png") bottom left;
    background-repeat : repeat-x;
}

.cdmFeedTitle a.title {
    color : #555;
    font-style : italic;
    font-weight : bold;
}

.cdmFeedTitle a {
    color : #555;
}

.cdmFeedTitle a:hover {
    color : #4684ff;
}

.cdmHeader span.hlFeed {
    float: right;
    font-weight : normal;
    font-style : italic;
}

.cdmHeader .hlFeed, .cdmHeader .hlFeed a {
    vertical-align : middle;
    color : #555;
    font-weight : normal;
    font-style : italic;
    font-size: 11px;
}

.cdm .hlFeed a {
    border-radius : 4px;
    display : inline-block;
    padding : 1px 4px 1px 4px;
}

.cdmContentInner p {
    max-width: 650px;
}

.cdmContentInner iframe {
    min-width: 50%;
}

.cdmHeader span.author {
    color : #555;
    font-size: 11px;
    font-weight : normal;
}


#floatingTitle {
    position : absolute;
    z-index : 5;
    top : 30px;
    right : 20px;
    border : 1px solid #ccc;
    background : white;
    border-radius : 3px;
    box-shadow : 0px 0px 3px 0px rgba(0,0,0,0.1);
    color : #555;
    font-size: 10px;
    padding : 3px;
}

#floatingTitle > * {
    display : table-cell;
    white-space : nowrap;
    vertical-align : middle;
}

#floatingTitle span.titleWrap {
    max-width: 200px;
    overflow : hidden;
    text-overflow : ellipsis;
}

#floatingTitle img {
    padding-right : 3px;
}

#floatingTitle .dijit,
#floatingTitle span.updated,
#floatingTitle .scoreWrap,
#floatingTitle .hlFeed,
#floatingTitle span.author,
#floatingTitle img.tinyFeedIcon {
    display: none;
}
